h1{
    font-family: 'Dancing Script';
    text-align: left;
    color: white;
    
}
h2,h3{
    font-family: 'Dancing Script';    
    text-align: right;
    color: white;
}
p{
    font-family: 'Dancing Script';    
    text-align: center;
    color: white;
}
body{
    background-color: #02010a;
    text-align: center;
}
.contenedor {
    /* width: 900px;*/
    background-color: #5b7989; 
    border-radius: 10px;    
    text-shadow: 2px 2px #02010a;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: right;
    /*color: white; */
    /* text-shadow: 2px 2px #02010a;*/
}

.c1, .c2{
 width: 100%;
}
table{
    /*width: 100%;
    width: 50%; Le asigna la mitad del espacio del navegador a la tabla 
    border-collapse: collapse;    */
}
#imgcentral{
    text-align: center;
    background-color: #82c3a6;
    width: 100%;
}
.imagen{
    margin: 2%;
    width: 90%;
}
#imgsecund{
    text-align: center;    
    background-color: #d5c75f;
    width: 100%;
}
/* Por defecto está para moviles:  Ancho maximo de 700px */
.paisajes{
    margin: 1%;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
.retratos{
    margin: 1%;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
/* Punto de quiebre para Desktop:  Ancho minimo de 700px */
@media (min-width:700px) {
.cabecera{
    width: 100%;
    text-align: center;
    }
.enlaces::link1 {
    width: 50%;
    text-align: center;
 } 
.enlaces::link2 {
    width: 50%
    text-align: center;
 } 
.enlaces::link3 {
    width: 10%;
    text-align: center;
 } 
 .c1, .c2{
    width: 50%;
   }
 /*.paisajes, .retratos{
     width: 50%;
 }*/
}
 
@media (min-width: 800px) {
    .cabecera {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    }
    .link1 {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
        }
    .link2 {
            width: 10%;
            margin-left: auto;
            margin-right: auto;
            }
    .link3 {
                width: 10%;
                margin-left: auto;
                margin-right: auto;
                }            
    .imagen{
        width: 90%;
    }
                
                /*
    .link2 {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
        }        
    .link3 {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
        } */   
    }
/* aplica un efecto de rotación de 10 grados cuando se coloca el puntero sobre ella */
#caballos img:hover{
    transform: rotate(10deg);
    border: 2px solid black;
}
/* aplica un efecto de traslación de 5px hacia arriba y 20px a la derecha  */
#poloteam img:hover{
    border: 2px solid black;  
    transform: translate(20px, -5px);    
}
    
    /*transform: rotate(10deg); Efecto de Rotacion*/
footer{
    background-color: #C6d5c5;
    border-radius: 10px;
    text-align: center;
}